<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AntonymPipeline/src/org/jobimtext/example/demo/JoBimDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jobimtext.example.demo.JoBimDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-database -model config/conf_mysql_np_local.xml -annotator StanfordDescriptor.xml -toString config/extractor_stanf_np.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AntonymPipeline"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx2G -Xms2G"/>
</launchConfiguration>
