<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.jobimtext/src/org/jobimtext/sense/ComputeSenseClusters.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jobimtext.sense.ComputeSenseClusters"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i similarity/SimSortlimit -a 1 -d 10 -N 200 -n 50 -o senses -f senses/senses"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.jobimtext.examples.oss"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx5G -Xms5G"/>
</launchConfiguration>
